[submodule "py/gpib_instrument_control"]
	path = meas/hw_verification_testing/gpib_instrument_control
	url = https://github.com/bjohan/gpib_instrument_control.git
[submodule "meas/gpib_instrument_control"]
	path = meas/gpib_instrument_control
	url = https://github.com/bjohan/gpib_instrument_control.git
[submodule "meas/lmx2594"]
	path = meas/lmx2594
	url = https://github.com/bjohan/lmx2594.git
[submodule "meas/yig_filter_bank_controller"]
	path = meas/yig_filter_bank_controller
	url = https://github.com/bjohan/yig_filter_bank_controller.git
[submodule "meas/data"]
	path = meas/data
	url = https://github.com/bjohan/data.git
